extends layout

block content
    h1.
        user list
    table(border=1)
        tr
            td User Name
            td E-Mail
        each user, i in userList
            tr
                td= user.user
                td= user['e-mail']